[data-menu='button'] {
  display: none;
}

@media (max-width: 700px) {
  .js .menu {
    height: 50px;
  }
  .js [data-menu='button'] {
    display: block;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    z-index: 300;
    background-color: #fff;
  }

  .js [data-menu='button']::before {
    content: '';
    background: #fb5;
    height: 2px;
    width: 18px;
    display: flex;
    box-shadow: 0 -5px #fb5, 0 5px #fb5;
    transition: transform 0.5s;
  }

  .js [data-menu='button'].active::before {
    transform: rotate(90deg);
  }

  .js [data-menu='list'] {
    display: none;
    width: 160px;
    position: absolute;
    background-color: #fb5;
    z-index: 200;
    top: 0;
    padding: 4rem 0 1rem 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  .js [data-menu='list'].active {
    display: block;
    animation: show-right 0.3s forwards;
  }

  .js .dropdown-menu {
    position: static;
  }
}
