.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-container.ativo {
  display: flex;
}

.modal {
  background-color: #fff;
  padding: 40px;
  border: 10px solid #fb5;
  box-shadow: 0 0 0 10px #fff;
  position: relative;
  min-width: 300px;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ativo .modal {
  animation: modal 0.3s forwards;
}

.close {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
  top: -30px;
  right: -30px;
  position: absolute;
  cursor: pointer;
  color: #fb5;
}

.modal label {
  font-family: 'IBM Plex Mono', monospace;
  display: block;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
  font-size: 1.2rem;
}

.modal input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  box-sizing: border-box;
}

.modal button[type='submit'] {
  display: block;
  background: #e54;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
