.numeros-grid {
  display: grid;
  grid-column: 2 /4;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.numeros-grid h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-family: 'Playfair Display SC';
}

.numeros-grid span {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: 1.5rem;
  color: #e54;
}

@media (max-width: 700px) {
  .numeros-grid {
    grid-column: 1;
  }
}
