.tooltip {
  max-width: 150px;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 4px;
  padding: 0.9rem;
  font-size: 0.8rem;
  font-family: 'IBM Plex Mono', monospace;
  border: 4px solid #fb5;
}
